html{
  background-color: #1a73e8;
}
div#root{
  background-color: #1a73e8;
}

.bike-trips {
  position: sticky;
  display: flex;
  align-items: center;
  height: 60px;
  top: 0px;
  background-color:white;
  font-weight: lighter;
  color: #5f6368;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 32px;
  box-shadow: 0 0 5px 0 rgb(49, 49, 49);
  border-radius: 2px;

  
}

.bike-trips h3 {
  background-color: white;
  margin-left: 40px;
}

div.links-navbar{
  width: 200px;
}
.links-navbar {
  display: flex;
  justify-content: flex-end;
  flex-basis: 400px;
  align-items: center;
  margin-left: 400px;
  gap: 30px;
  background-color: white;
}

div.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  margin-top: 200px;
  margin-left: 150px;
  height: 300px;
  width: 900px;
  color: white;
  background-color: #1a73e8;
  font-family: 'Montserrat', sans-serif;
  gap: 100px 10px;

}

div.home>section>div{
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

h3{
  background-color: white;
  color: #5f6368;
}

.button-options{
  height: 25px;
  width: 200px;
  background-color: white;
  border-radius: 40px;
  border-color: #1a73e8

}

div.home>main{
  margin-right:150px;
}

.options{
  background-color: white;
  border: solid;
  border-radius: 10px;
  height: 300px;
  width: 300px;
}

.bike{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  background-color:rgb(252, 255, 86);
  border: 9px solid white;
  border-radius: 50px; 
  box-shadow: 1px 3px 9px rgb(22, 15, 5);
  margin-top: 25px;
  height: 10em;
  width: 10em;
  }

